<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zygh.lz.dao.AdmameraMapper" >
  <resultMap id="BaseResultMap" type="com.zygh.lz.entity.Admamera" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="src_evt_id" property="srcEvtId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="evt_type_no" property="evtTypeNo" jdbcType="VARCHAR" />
    <result column="sub_evt_type_no" property="subEvtTypeNo" jdbcType="VARCHAR" />
    <result column="in_time" property="inTime" jdbcType="TIMESTAMP" />
    <result column="out_time" property="outTime" jdbcType="TIMESTAMP" />
    <result column="camera_id" property="cameraId" jdbcType="VARCHAR" />
    <result column="camera_name" property="cameraName" jdbcType="VARCHAR" />
    <result column="lng" property="lng" jdbcType="DOUBLE" />
    <result column="lat" property="lat" jdbcType="DOUBLE" />
    <result column="geohash" property="geohash" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="staytime" property="staytime" jdbcType="VARCHAR" />
    <result column="public_rec_time" property="publicRecTime" jdbcType="TIMESTAMP" />
    <result column="public_pro_time" property="publicProTime" jdbcType="TIMESTAMP" />
    <result column="ds" property="ds" jdbcType="VARCHAR" />
    <result column="interface_id" property="interfaceId" jdbcType="BIGINT" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="grid_id" property="gridId" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zygh.lz.entity.AdmameraWithBLOBs" extends="BaseResultMap" >
    <result column="ossurl" property="ossurl" jdbcType="LONGVARCHAR" />
    <result column="short_video_code" property="shortVideoCode" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, src_evt_id, status, evt_type_no, sub_evt_type_no, in_time, out_time, camera_id, 
    camera_name, lng, lat, geohash, memo, staytime, public_rec_time, public_pro_time, 
    ds, interface_id, area_code, grid_id, gmt_create, gmt_modified
  </sql>
  <sql id="Blob_Column_List" >
    ossurl, short_video_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from adm_eh_event_extend_camera
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from adm_eh_event_extend_camera
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zygh.lz.entity.AdmameraWithBLOBs" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into adm_eh_event_extend_camera (src_evt_id, status, evt_type_no, 
      sub_evt_type_no, in_time, out_time, 
      camera_id, camera_name, lng, 
      lat, geohash, memo, 
      staytime, public_rec_time, public_pro_time, 
      ds, interface_id, area_code, 
      grid_id, gmt_create, gmt_modified, 
      ossurl, short_video_code)
    values (#{srcEvtId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{evtTypeNo,jdbcType=VARCHAR}, 
      #{subEvtTypeNo,jdbcType=VARCHAR}, #{inTime,jdbcType=TIMESTAMP}, #{outTime,jdbcType=TIMESTAMP}, 
      #{cameraId,jdbcType=VARCHAR}, #{cameraName,jdbcType=VARCHAR}, #{lng,jdbcType=DOUBLE}, 
      #{lat,jdbcType=DOUBLE}, #{geohash,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{staytime,jdbcType=VARCHAR}, #{publicRecTime,jdbcType=TIMESTAMP}, #{publicProTime,jdbcType=TIMESTAMP}, 
      #{ds,jdbcType=VARCHAR}, #{interfaceId,jdbcType=BIGINT}, #{areaCode,jdbcType=VARCHAR}, 
      #{gridId,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{ossurl,jdbcType=LONGVARCHAR}, #{shortVideoCode,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zygh.lz.entity.AdmameraWithBLOBs" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into adm_eh_event_extend_camera
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="srcEvtId != null" >
        src_evt_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="evtTypeNo != null" >
        evt_type_no,
      </if>
      <if test="subEvtTypeNo != null" >
        sub_evt_type_no,
      </if>
      <if test="inTime != null" >
        in_time,
      </if>
      <if test="outTime != null" >
        out_time,
      </if>
      <if test="cameraId != null" >
        camera_id,
      </if>
      <if test="cameraName != null" >
        camera_name,
      </if>
      <if test="lng != null" >
        lng,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="geohash != null" >
        geohash,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="staytime != null" >
        staytime,
      </if>
      <if test="publicRecTime != null" >
        public_rec_time,
      </if>
      <if test="publicProTime != null" >
        public_pro_time,
      </if>
      <if test="ds != null" >
        ds,
      </if>
      <if test="interfaceId != null" >
        interface_id,
      </if>
      <if test="areaCode != null" >
        area_code,
      </if>
      <if test="gridId != null" >
        grid_id,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="ossurl != null" >
        ossurl,
      </if>
      <if test="shortVideoCode != null" >
        short_video_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="srcEvtId != null" >
        #{srcEvtId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="evtTypeNo != null" >
        #{evtTypeNo,jdbcType=VARCHAR},
      </if>
      <if test="subEvtTypeNo != null" >
        #{subEvtTypeNo,jdbcType=VARCHAR},
      </if>
      <if test="inTime != null" >
        #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outTime != null" >
        #{outTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cameraId != null" >
        #{cameraId,jdbcType=VARCHAR},
      </if>
      <if test="cameraName != null" >
        #{cameraName,jdbcType=VARCHAR},
      </if>
      <if test="lng != null" >
        #{lng,jdbcType=DOUBLE},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=DOUBLE},
      </if>
      <if test="geohash != null" >
        #{geohash,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="staytime != null" >
        #{staytime,jdbcType=VARCHAR},
      </if>
      <if test="publicRecTime != null" >
        #{publicRecTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publicProTime != null" >
        #{publicProTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ds != null" >
        #{ds,jdbcType=VARCHAR},
      </if>
      <if test="interfaceId != null" >
        #{interfaceId,jdbcType=BIGINT},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="gridId != null" >
        #{gridId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="ossurl != null" >
        #{ossurl,jdbcType=LONGVARCHAR},
      </if>
      <if test="shortVideoCode != null" >
        #{shortVideoCode,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zygh.lz.entity.AdmameraWithBLOBs" >
    update adm_eh_event_extend_camera
    <set >
      <if test="srcEvtId != null" >
        src_evt_id = #{srcEvtId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="evtTypeNo != null" >
        evt_type_no = #{evtTypeNo,jdbcType=VARCHAR},
      </if>
      <if test="subEvtTypeNo != null" >
        sub_evt_type_no = #{subEvtTypeNo,jdbcType=VARCHAR},
      </if>
      <if test="inTime != null" >
        in_time = #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outTime != null" >
        out_time = #{outTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cameraId != null" >
        camera_id = #{cameraId,jdbcType=VARCHAR},
      </if>
      <if test="cameraName != null" >
        camera_name = #{cameraName,jdbcType=VARCHAR},
      </if>
      <if test="lng != null" >
        lng = #{lng,jdbcType=DOUBLE},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=DOUBLE},
      </if>
      <if test="geohash != null" >
        geohash = #{geohash,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="staytime != null" >
        staytime = #{staytime,jdbcType=VARCHAR},
      </if>
      <if test="publicRecTime != null" >
        public_rec_time = #{publicRecTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publicProTime != null" >
        public_pro_time = #{publicProTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ds != null" >
        ds = #{ds,jdbcType=VARCHAR},
      </if>
      <if test="interfaceId != null" >
        interface_id = #{interfaceId,jdbcType=BIGINT},
      </if>
      <if test="areaCode != null" >
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="gridId != null" >
        grid_id = #{gridId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="ossurl != null" >
        ossurl = #{ossurl,jdbcType=LONGVARCHAR},
      </if>
      <if test="shortVideoCode != null" >
        short_video_code = #{shortVideoCode,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zygh.lz.entity.AdmameraWithBLOBs" >
    update adm_eh_event_extend_camera
    set src_evt_id = #{srcEvtId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      evt_type_no = #{evtTypeNo,jdbcType=VARCHAR},
      sub_evt_type_no = #{subEvtTypeNo,jdbcType=VARCHAR},
      in_time = #{inTime,jdbcType=TIMESTAMP},
      out_time = #{outTime,jdbcType=TIMESTAMP},
      camera_id = #{cameraId,jdbcType=VARCHAR},
      camera_name = #{cameraName,jdbcType=VARCHAR},
      lng = #{lng,jdbcType=DOUBLE},
      lat = #{lat,jdbcType=DOUBLE},
      geohash = #{geohash,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      staytime = #{staytime,jdbcType=VARCHAR},
      public_rec_time = #{publicRecTime,jdbcType=TIMESTAMP},
      public_pro_time = #{publicProTime,jdbcType=TIMESTAMP},
      ds = #{ds,jdbcType=VARCHAR},
      interface_id = #{interfaceId,jdbcType=BIGINT},
      area_code = #{areaCode,jdbcType=VARCHAR},
      grid_id = #{gridId,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      ossurl = #{ossurl,jdbcType=LONGVARCHAR},
      short_video_code = #{shortVideoCode,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zygh.lz.entity.Admamera" >
    update adm_eh_event_extend_camera
    set src_evt_id = #{srcEvtId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      evt_type_no = #{evtTypeNo,jdbcType=VARCHAR},
      sub_evt_type_no = #{subEvtTypeNo,jdbcType=VARCHAR},
      in_time = #{inTime,jdbcType=TIMESTAMP},
      out_time = #{outTime,jdbcType=TIMESTAMP},
      camera_id = #{cameraId,jdbcType=VARCHAR},
      camera_name = #{cameraName,jdbcType=VARCHAR},
      lng = #{lng,jdbcType=DOUBLE},
      lat = #{lat,jdbcType=DOUBLE},
      geohash = #{geohash,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      staytime = #{staytime,jdbcType=VARCHAR},
      public_rec_time = #{publicRecTime,jdbcType=TIMESTAMP},
      public_pro_time = #{publicProTime,jdbcType=TIMESTAMP},
      ds = #{ds,jdbcType=VARCHAR},
      interface_id = #{interfaceId,jdbcType=BIGINT},
      area_code = #{areaCode,jdbcType=VARCHAR},
      grid_id = #{gridId,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--查询当天的事件-->
  <select id="selectAllByToday" resultType="map">
    SELECT in_time,out_time,camera_name,lng,lat,ossurl FROM adm_eh_event_extend_camera
    WHERE TO_DAYS(in_time) = TO_DAYS(NOW())
  </select>
</mapper>